<%= render 'shared/navbar' %>
<div class="break"></div>
<div class="ui grid container">
    <div class="three wide column">
        <%= render 'shared/sidebar' %>
    </div>
    <div class="thirteen wide column">
        <%= render 'shared/community_page' %>
<!--         <%= render 'shared/explore' %> -->
        <%= render 'shared/members' %>
    </div>
</div>  