<<<<<<< HEAD
<div class="ui basic segment" id="dataset">
    <div class="ui breadcrumb">
        <a class="section">Community</a>
        <i class="right angle icon divider"></i>
        <div class="active section"><%= @dataset[:name] %></div>
    </div>
    <div class="ui divider"></div>

    <h2 class="ui header"><%= @dataset[:name] %>
        <div class="sub header">Date published: <%= @dataset[:date_published] %></div>
        <div class="sub header">Last updated: <%= @dataset[:date_published] %></div>
    </h2>
    <button class="ui button green mini"><i class="icon download"></i> Download CSV File</button>
    <div class="ui message">
        <p><%= @dataset[:documentation].html_safe %></p>
    </div>

    .
</div>
=======
<%= render 'shared/navbar' %>
<div class="break"></div>
<div class="ui grid container">
    <div class="three wide column">
        <%= render 'shared/sidebar' %>
    </div>
    <div class="thirteen wide column">
    	<h1> Datasets </h1>
    	<div class="ui cards link">
			<div href='#' class="dataset card" style="width: 70%;">
			    <div class="content">
			    	<a href='#' class="header">Epidemiology of the Philippine Barangays</a>
			    	<div class="meta">by Je Marie Apolinario and Camille Razal</div>
			    	<div class="description">
			        	This contains the epidemiology of the Philippine Barangays from years 2000-2015. This dataset is used for a Web Science undergraduate thesis using Quantum Geographical Information Systems for spatial data analysis.
			    	</div>
			    	<br><span class="meta">Tags:</span>
			      	<a class="tiny ui label">
			      		Epidemiology
					</a>
						<a class="tiny ui label">
			      		Barangays
					</a>
			    </div>
			</div>
			<div href='#' class="dataset card" style="width: 70%;">
			    <div class="content">
			    	<a href='#' class="header">Epidemiology of the Philippine Barangays</a>
			    	<div class="meta">by Je Marie Apolinario and Camille Razal</div>
			    	<div class="description">
			        	This contains the epidemiology of the Philippine Barangays from years 2000-2015. This dataset is used for a Web Science undergraduate thesis using Quantum Geographical Information Systems for spatial data analysis.
			    	</div>
			    	<br><span class="meta">Tags:</span>
			      	<a class="tiny ui label">
			      		Epidemiology
					</a>
						<a class="tiny ui label">
			      		Barangays
					</a>
			    </div>
			</div>
			<div href='#' class="dataset card" style="width: 70%;">
			    <div class="content">
			    	<a href='#' class="header">Epidemiology of the Philippine Barangays</a>
			    	<div class="meta">by Je Marie Apolinario and Camille Razal</div>
			    	<div class="description">
			        	This contains the epidemiology of the Philippine Barangays from years 2000-2015. This dataset is used for a Web Science undergraduate thesis using Quantum Geographical Information Systems for spatial data analysis.
			    	</div>
			    	<br><span class="meta">Tags:</span>
			      	<a class="tiny ui label">
			      		Epidemiology
					</a>
						<a class="tiny ui label">
			      		Barangays
					</a>
			    </div>
			</div>
		</div>
		<br>
		<i class="big link angle left icon" style="position: absolute; right: 300px; bottom: 5px;"></i>
		<i class="big link angle right icon" style="position: absolute; right: 270px; bottom: 5px;"></i>
    </div>
</div>  
>>>>>>> 64f949b4232c000838de7d5b1381a6de7258d0b6
