<div class="ui basic grid segment" id="explore">
    <div class="two column row">
        <div class="column">
            <h2 class="ui header">Explore</h2>
        </div>
    </div>
    <div class="row">
        <div class="sixteen wide column">
            <%= link_to @entries.first, :class => 'ui card fluid' do %>
                <div class="content">
			    	<div href='#' class="header">
                        <span class="ui tiny label category"><% if @entries.first.class == Community.new.class %>COMMUNITY <% else %> DATASET <%end%></span> 
                        <%= @entries.first.name %>
                    </div> 
                    <% if @entries.first.class == Dataset.new.class %>
			    	<div class="meta">by <%= @entries.first.user.name %></div>
                    <%end%>
			    	<div class="description">
                        <% if @entries.first.class == Dataset.new.class %> <%= @entries.first.documentation %> <% else %> <%= @entries.first.description%> <%end%>
			    	</div>
                    
                    <% if @entries.first.class == Dataset.new.class %>
                    <div class="tiny blue right floated ui label">
                        <%= @entries.first.community.name %>
                    </div>
                    <%end%>
                </div>
            <% end %>
            <div class="ui cards two link">
                <% @entries[1..-1].each do |entry| %>
                <%= link_to entry, :class => 'card' do %>
                
                    <div class="content">
			    	<div href='#' class="header">
                        <span class="ui tiny label category"><% if entry.class == Community.new.class %>COMMUNITY <% else %> DATASET <%end%></span> 
                        <%= entry.name %>
                    </div> 
                    <% if entry.class == Dataset.new.class %>
			    	<div class="meta">by <%= entry.user.name %></div>
                    <%end%>
			    	<div class="description">
                        <% if entry.class == Dataset.new.class %> <%= entry.documentation %> <% else %> <%= entry.description%> <%end%>
			    	</div>
                    
                    <% if entry.class == Dataset.new.class %>
                    <div class="tiny blue right floated ui label">
                        <%= entry.community.name %>
                    </div>
                    <%end%>
                </div>
                <%end%>
                <% end %>
               
            </div>
        </div>
    </div>
</div>
