<!-- <div class="ui basic grid segment" id="members"> -->

    <div class="two column row">
        <div class="column">
            <h2 class="ui header" style="margin-top:5px;">Members</h2>
        </div>
        <div class="column"></div>
    </div>



    <div class="ui grid">
        <div class="one wide column"></div>
        <div class="four wide column">
            <div class="segment">
                <div class="content">
                    <img class="left floated mini ui image" src="<%= asset_path('icon1.jpg')%>" style="margin-top: 5px;">
                    <div class="header">
                    <b>Elliot Cornelius</b>
                    </div>
                    <div class="meta">
                        elliot_654
                    </div>
                    <div class="description" style="font-size:75%;">
                        Member since September 2014
                    </div>
                </div>
            </div>
        </div>
        <div class="one wide column"></div>
        <div class="four wide column">
            <div class="segment">
                <div class="content">
                        <img class="left floated mini ui image" src="<%= asset_path('icon2.jpg')%>" style="margin-top: 5px;">
                        <div class="header">
                        <b>Jenny Eisenberg</b>
                        </div>
                        <div class="meta">
                            jenny.eisenberg1179
                        </div>
                        <div class="description" style="font-size:75%;">
                            Member since August 2016
                        </div>
                    </div>
                </div>
            </div>
        <div class="one wide column"></div>
        <div class="four wide column">
            <div class="segment">
                <div class="content">
                    <img class="left floated mini ui image" src="<%= asset_path('icon1.jpg')%>" style="margin-top: 5px;">
                    <div class="header">
                    <b>Elliot Cornelius</b>
                    </div>
                    <div class="meta">
                        elliot_654
                    </div>
                    <div class="description" style="font-size:75%;">
                        Member since September 2014
                    </div>
                </div>
            </div>
        </div>
        <div class="one wide column"></div>
        <div class="one wide column"></div>
        <div class="four wide column">
            <div class="segment">
                <div class="content">
                        <img class="left floated mini ui image" src="<%= asset_path('icon2.jpg')%>" style="margin-top: 5px;">
                        <div class="header">
                        <b>Jenny Eisenberg</b>
                        </div>
                        <div class="meta">
                            jenny.eisenberg1179
                        </div>
                        <div class="description" style="font-size:75%;">
                            Member since August 2016
                        </div>
                    </div>
                </div>
            </div>
        <div class="one wide column"></div>
        <div class="four wide column">
            <div class="segment">
                <div class="content">
                    <img class="left floated mini ui image" src="<%= asset_path('icon1.jpg')%>" style="margin-top: 5px;">
                    <div class="header">
                    <b>Elliot Cornelius</b>
                    </div>
                    <div class="meta">
                        elliot_654
                    </div>
                    <div class="description" style="font-size:75%;">
                        Member since September 2014
                    </div>
                </div>
            </div>
        </div>
        <div class="one wide column"></div>
    </div>
</div>
