<!DOCTYPE html>
<html>
  <head>
    <title>MdmHackathonHaraya</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>

    <%= render 'shared/navbar' %>
    <div class="break"></div>
    <div class="ui grid container">
      <% if true %>
        <div class="three wide column">
            <%= render 'shared/sidebar' %>
        </div>
        <div class="thirteen wide column">
            <%= yield %>
        </div>
      <% else %>
        <div class="sixteen wide column">
            <%= yield %>
        </div>
      <% end %>
    </div>  
    
  </body>
</html>
